nav {
  border: 1px solid black;
  background-color: tomato;
  text-align: center;

}

nav ul li {
  list-style: none;
  display: inline;
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: blue;
}
/* a.active {
  color: black;
} */